@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Dosis:700,600|Mulish:500,700,600,400");



:root { 
    --black: #000000;
    --black-2: #00000080;
    --blanco: #ffffff;
    --blue: #3b91e5;
    --blue-zodiac: #0b284c;
    --celeste: #cccccc;
    --deep-blue: #173c6a;
    --denim: #306fc8;
    --gray-nurse: #e7e8ea;
    --light-blue: #c2dffc;
    --naranja: #fc7649;
    --picton-blue: #3fa0ff;
    --verde-oscuro: #2c798a;
    --white: #ffffff;
    --zircon: #f4f5ff;
    --turquesa:#55B8B1;

    --border: 1px solid var(--celeste);
    --radius: 16px;
   
    --font-family-dosis: "Dosis", Helvetica!important;
    --font-family-mulish: "Mulish", Helvetica;
  }

  body{
    font-size:16px;
    font-family: var(--font-family-mulish);   
  }
a{
  text-decoration: none;
  color:var(--picton-blue);
}
li {
  line-height: 1.5rem;
}
  h1,h2,h3,h4,h5,h6 { 
    color: var(--deep-blue);
    font-family: var(--font-family-dosis);
  }
  
  h1{
    color: var(--deep-blue);
    font-family: var(--font-family-dosis);
  font-size: 4.3rem;
  font-weight: 700;
  }
  h2{
    color: var(--deep-blue);
    font-family: var(--font-family-dosis);
  }
  h4 {
    font-size: 1.8rem;
    font-weight: 600;
  }

  h5{
    font-size: 1.2rem;
  }
  body{
    font-size:16px;
    font-family: var(--font-family-mulish);
  }
  div{
    font-family: var(--font-family-mulish);
  }
  p{
  color:var(--deep-blue);
  line-height: 26px;
  font-size: 1rem;
  font-family: var(--font-family-mulish);
  }
  img {
   width: 100%;
}

a.navbar-brand img {
  width: 120px!important;
}
  /*menu*/
  .navbar-light .navbar-nav .nav-link{
    color:var(--deep-blue);
    font-size:1.1rem;
    font-weight:500;
  }
  .nav-link.active{
    color:turquoise!important;
    font-weight:700;
  }

  button.navbar-toggler {
    border: none;
}

  /*HOME*/


  /*banner hero*/
  .bannerHome{
  background: url(../img/banner1-home.jpg)no-repeat center center;
  background-size: cover;
  border-radius: var(--radius);
  width: 96%;
  margin: 0 auto;
  height:90vh;
  }
  .bannerHome h1, .cta h1 {
    font-size: 4.3rem;
    z-index: 99;
  }

  /*content*/

.image-cont {
    left: 0;
    position: relative;
    overflow: hidden;
    border-radius: var(--radius)!important;
}
  
.image-cont img {
  position: absolute;
  border-radius: var(--radius);
  height: 100%;
  max-width: max-content;
}
.image-cont.mobile img {
  position: static;
  border-radius: var(--radius);
  height: auto;
  max-width: max-content;
  width: 100%;
}
section.bg-white.py-4.mainContent p {
  color: var(--deep-blue);
  font-weight: 600;
}

    /*form address*/

    .address {
      padding: 1rem;
      border: var(--border);
      border-radius: var(--radius);
      width: 100%;
      display: grid;
      margin-bottom: 1rem;
    }
    .support {
      border:var(--border);
      border-radius: var(--radius);
      overflow: hidden;
    }
    .support h4, .address h4{
      color: var(--deep-blue);
  
    }
    .support p, .address p{

      font-size: 1.rem;
      color: var(--verde-oscuro);
      font-weight:600;
    }

    .info {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
    }

    .form-control{
      align-self: stretch;
        background-color: var(--zircon);
        font-family: var(--font-family-mulish);
        border:var(--gray-nurse) 1px solid;
        border-radius: 10px;
        box-shadow: inset 0px 1px 1px #00000013;
        display: flex;
        width: 100%;
        font-size:12px;
        color:var(--deep-blue);
        font-weight: 700;
        padding:0 10px;
        line-height:40px;
    
    }
    ::placeholder{
      font-family: var(--font-family-mulish);
      color:gray;
      font-size:12px;
    }
    label.form-label{
      color: var(--deep-blue);
      font-family: var(--font-family-mulish);
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
    }
    textarea{
      font-family: var(--font-family-mulish);
      background-color: var(--zircon);
      border: 1px solid;
      border-color: var(--gray-nurse);
      border-radius: 9.97px;
      box-shadow: inset 0px 1px 1px #00000013;
      height: 200px;
      width: 100%;
      padding-top:1rem;
      color:gray;
      font-size:12px;
      margin-bottom:1rem
    }
    .info {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
    }

    .btn.send{
      background: var(--naranja);
      color:white;
    }


  /*cta*/

    .cta .container-fluid {
      margin-top: -8rem!important;
      z-index: 1;
      margin-bottom: -8px!important;
  }


    /*FOOTER*/
    footer{
      background:var(--blue-zodiac);
      border:none!important;
      margin-top:-1px;
    }
  footer p{
    color:var(--picton-blue)
  }

  .logoCards .row:first-child img{
width:78px;
  }

  .logoCards .row:last-child img{
    width:40px;
    padding: 0;
      }

.support-img {
  display: block;
  height: 250px;
  overflow: hidden;
  background: url(../img/soporte.png) center center;
  background-size: cover;
    }

    ul.social.d-sm-flex.d-md-flex.d-lg-none.justify-content-start.mb-2 {
      display: flex;
  }

 @media (max-width: 767.98px) { 
  .bannerHome{
    height:70vh;
    }
    .bannerHome h1, .cta h1 {
      font-size: 2.5rem;
    }

  .cta .container-fluid {
    margin-top: -3rem!important;
  }
  }


 @media (max-width: 991.98px) { 
  .bannerHome h1, .cta h1 {
    font-size: 3.7rem;
  }
  .mobile {
    position:static;
}
.bannerHome{
  height:70vh;
  }
  .cta .container-fluid {
    margin-top: -4rem!important;
  }
  .support {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0;
}
 }

// Large devices (desktops, less than 1200px)
@media (max-width: 1199.98px) { 
  .bannerHome{
    height:80vh;
    }
    .bannerHome h1, .cta h1 {
      font-size: 3.5rem;
    }
 }

// X-Large devices (large desktops, less than 1400px)
@media (max-width: 1399.98px) { 
  .bannerHome{
    height:80vh;
    }

    .bannerHome h1, .cta h1 {
      font-size: 3.5rem;
    }
 }

@media (max-width: 575.98px) { 
  
  .bannerHome h1, .cta h1 {
    font-size: 2.5rem;
  }
  .bannerHome{
    height:60vh;
    }
.cta{
      margin-top:30px;
      border: 0px;
 }

 .cta .container-fluid {
  margin-top: 0rem!important;
}
}
