@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=Dosis:700,600|Mulish:500,700,600,400");



:root { 
    --black: #000000;
    --black-2: #00000080;
    --blanco: #ffffff;
    --blue: #3b91e5;
    --blue-zodiac: #0b284c;
    --celeste: #cccccc;
    --deep-blue: #173c6a;
    --denim: #306fc8;
    --gray-nurse: #e7e8ea;
    --light-blue: #c2dffc;
    --naranja: #fc7649;
    --picton-blue: #3fa0ff;
    --verde-oscuro: #2c798a;
    --white: #ffffff;
    --zircon: #f4f5ff;
    --turquesa:#55B8B1;

    --border: 1px solid var(--celeste);
    --radius: 16px;
   
    --font-family-dosis: "Dosis", Helvetica!important;
    --font-family-mulish: "Mulish", Helvetica;
  }

  body{
    font-size:16px;
    font-family: var(--font-family-mulish);   
  }
a{
  text-decoration: none;
  color:var(--picton-blue);
}
li {
  line-height: 1.5rem;
}
.col, .row {
  padding: 0;
  margin: 0;
}
.tablet{
  display: none;
}
  h1,h2,h3,h4,h5,h6 { 
    color: var(--deep-blue);
    font-family: var(--font-family-dosis);
  }
  
  h1{
    color: var(--deep-blue);
    font-family: var(--font-family-dosis);
  font-size: 4.3rem;
  font-weight: 700;
  }
  h2{
    color: var(--deep-blue);
    font-family: var(--font-family-dosis);
  }
  h4 {
    font-size: 1.8rem;
    font-weight: 600;
  }

  h5{
    font-size: 1.2rem;
  }
  body{
    font-size:16px;
    font-family: var(--font-family-mulish);
  }
  div{
    font-family: var(--font-family-mulish);
  }
  p{
  color:var(--deep-blue);
  line-height: 26px;
  font-size: 1rem;
  font-family: var(--font-family-mulish);
  }
  img {
   width: 100%;
}

a.navbar-brand img {
  width: 120px!important;
}
  /*menu*/
  .navbar-light .navbar-nav .nav-link{
    color:var(--deep-blue);
    font-size: 18px;
    font-weight: 600;
    line-height: 20px;
  }
  .nav-link.active{
    color:var(--turquesa)!important;
    font-weight:700;
  }

  button.navbar-toggler {
    border: none;
}

  /*HOME*/


  /*banner hero*/
  .bannerHome{
  background: url(../img/banner1-home.jpg)no-repeat center center;
  background-size: cover;
  border-radius: var(--radius);
  width: 96%;
  margin: 0 auto;
  height:720px;
  }
  .bannerHome h1, .cta h1 {
    font-size: 70px;
    z-index: 99;
    line-height: 76px;
    font-weight: 700;
}

li.breadcrumb-item {
  font-size: 12px;
}
.bannerHome .breadcrumb {
  margin-bottom: 30px;

}
  /*content*/
  .mainContent {
    margin: 20px 30px;
}
.row.text2 .paragraph:last-child {
  padding: 0;
}
.paragraph h2 {
  font-size: 36px;
  margin-bottom: 20px;
  font-weight: 600;
  line-height: 40px;
}
.paragraph{
  padding: 0;
padding-bottom:80px;
}
.image-cont img {

    border-radius: var(--radius)!important;
}
  
.image-cont {
  display: flex;
  flex-wrap: wrap;
  row-gap: 24px;;
}
.row.image-cont>div {
  padding: 0;
}
.image-cont.mobile img {
  position: static;
  border-radius: var(--radius);
  height: auto;
  max-width: max-content;
  width: 100%;
}
section.bg-white.mainContent p {
  line-height: 26px;
  color: var(--deep-blue);
  font-weight: 500;
}

.mainContent>div {
  display: grid;
  grid-template-areas:
      "text1 image"
      "text2 image";
  grid-template-columns: 1.7fr 1fr;
  padding: 0px;
  column-gap: 40px;

}
.text1, .text2 {
  margin-right:40px;
}
.text1 {
  grid-area: text1;
}
.image-cont {
  grid-area: image;
}
.text2 {
  grid-area: text2;
}
    /*form address*/

    .address {
      padding: 1rem;
      border: var(--border);
      border-radius: var(--radius);
      width: 100%;
      display: grid;
      margin-bottom: 1rem;
    }
    .support {
      border:var(--border);
      border-radius: var(--radius);
      overflow: hidden;
    }
    .support h4, .address h4{
      color: var(--deep-blue);
  
    }
    .support p, .address p{

      font-size: 1.rem;
      color: var(--verde-oscuro);
      font-weight:600;
    }

    .info {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
    }

    .form-control{
      align-self: stretch;
        background-color: var(--zircon);
        font-family: var(--font-family-mulish);
        border:var(--gray-nurse) 1px solid;
        border-radius: 10px;
        box-shadow: inset 0px 1px 1px #00000013;
        display: flex;
        width: 100%;
        font-size:12px;
        color:var(--deep-blue);
        font-weight: 700;
        padding:0 10px;
        line-height:40px;
    
    }
    ::placeholder{
      font-family: var(--font-family-mulish);
      color:gray;
      font-size:12px;
    }
    label{
      color: var(--deep-blue)!important;
      font-family: var(--font-family-mulish);
      font-size: 1rem;
      font-style: normal;
      font-weight: 500;
      transition: color 0s;
      width: 100%;
      line-height: 40px;
    }

    textarea{
      font-family: var(--font-family-mulish);
      background-color: var(--zircon);
      border: 1px solid;
      border-color: var(--gray-nurse);
      border-radius: 9.97px;
      box-shadow: inset 0px 1px 1px #00000013;
      height: 200px;
      width: 100%;
      padding-top:1rem;
      color:gray;
      font-size:12px;
      margin-bottom:1rem
    }
    .info {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
    }

    .btn.send{
      background: var(--naranja);
      color:white;
    }


  /*cta*/

    .cta .container-fluid {
      margin-top: -8rem!important;
      z-index: 1;
      margin-bottom: -8px!important;
  }


    /*FOOTER*/
    footer{
      background:var(--blue-zodiac);
      border:none!important;
      margin-top:-1px;
    }
  footer p{
    color:var(--picton-blue)
  }

  .logoCards .row:first-child img{
width:78px;
  }

  .logoCards .row:last-child img{
    width:40px;
    padding: 0;
      }

.support-img {
  display: block;
  height: 250px;
  overflow: hidden;
  background: url(../img/soporte.png) center center;
  background-size: cover;
    }

    ul.social.d-sm-flex.d-md-flex.d-lg-none.justify-content-start.mb-2 {
      display: flex;
  }



 @media (max-width: 991.98px) { 
 
 }

@media (max-width: 1199.98px) { 
  .tablet{
    display: block;
  }
  .desktop{
    display: none;
  }
  .mainContent>div {
    display: block;
  
  }
  .paragraph h2 {
    margin-bottom: 10px;
  }
  .text1, .text2 {
    margin-right:0px;
  }

  .bannerHome h1, .cta h1 {
    font-size: 60px;
  }
  .mobile {
    position:static;
}
.bannerHome{
  height:700px;
  }
  .cta .container-fluid {
    margin-top: -4rem!important;
  }
  .support {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin: 0;
}
.paragraph, .image-cont {
  padding-bottom: 30px;
}

.image-cont {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
 }


@media (max-width: 1399.98px) { 



 }

@media (max-width: 575.98px) { 

  .bannerHome h1, .cta h1 {
    font-size: 40px;
    line-height: 48px;
  }
  .mainContent {
    margin: 10px 15px;
}
.paragraph h2 {
  font-size: 30px;
  line-height: 36px;
}
  .bannerHome{
    height:480px;
    }
.cta{
      margin-top:30px;
      border: 0px;
 }

 .cta .container-fluid {
  margin-top: 0rem!important;
}
.image-cont {
  gap: 10px;
}
}
